{% extends 'index.html' %}
    {% block albums %}

        <section id="albums" class="contact-section bg-black">
            <div class="container">
<!--                {% block new_artist %}-->
                          <div class="row">
                            <div class="col-md-10 col-lg-8 mx-auto text-center">
<!--                              <h2 class="text-white mb-5 adda">Add new artist!</h2>-->
                              <form action="{% url 'add-artist' %}" method="POST" class="d-flex add-art">
                                  {% csrf_token %}
                                  {{ add_artist_form.as_p }}
                                  <button type="submit" class="btn btn-primary js-scroll-trigger add-art-butt">Add</button>
                              </form>
                              <a href="{% url 'find-albums' %}" class="btn btn-primary js-scroll-trigger mx-auto newa">Look for new albums</a>
                            </div>
                          </div>
<!--                {% endblock %}-->
<!--                <form action="{% url 'add-artist' %}" method="POST" class="d-flex add-art">-->
<!--                    {% csrf_token %}-->
<!--                    {{ add_artist_form.as_p }}-->
<!--                    <button type="submit" class="btn btn-primary js-scroll-trigger add-art-butt">Add</button>-->
<!--                </form>-->


                <br><br>

                <div class="row">
                    {% for artist in artists|dictsort:"name" %}
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card py-4 h-100">
                                <div class="card-body text-center">
                                    <h4>{{ artist.name }}</h4>
                                    <div class="delete">
                                        <a href="{% url 'delete-artist' artist.id %}"><i>Remove ---</i></a>
                                    </div>
                                    <hr class="my-4">
                                    {% for album in albums %}
                                        {% if album.artist.name == artist.name %}
                                            <div class="small text-black-50">
                                                Title: <span class="custom-black">{{ album.title }}</span><br>
                                                Release date: <span class="custom-black">{{ album.release_date|date:'M d, Y' }}</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}
