<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Salmanac - Albums release date finder</title>

  <!-- Bootstrap core CSS -->
  {% load staticfiles %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/grayscale.min.css' %}" rel="stylesheet">

  <!-- Custom styles !-->
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger navbar-custom" href="#page-top">Start Salmanac</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#albums">Albums</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Log off</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'login-register' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Salmanac</h1>
        <h2 class="text-white-50 mt-2 mb-5">Alpha 0.0233</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Salmanac</h2>
          <p class="text-white-50">Salmanac it's a free application which will check if your favourite artists are planning to release new albums. <br>
            Just add an artist and see if there is new album waiting for you.</p>
        </div>
      </div>
<!--      <img src="img/ipad.png" class="img-fluid" alt="">-->
    </div>
  </section>

  <!-- Signup Section -->
  {% if not user.is_authenticated %}
    {% block login-register %}

    {% endblock %}
  {% endif %}

  <!-- Albums Section -->
  {% if user.is_authenticated %}
    {% block albums %}

    {% endblock %}
  {% endif %}

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <section id="contact">
      <div class="container">
        Copyright &copy; Salmanac 2019
        <div class="social d-flex justify-content-center">
          <a href="https://github.com/Razhelq" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/grayscale.min.js' %}"></script>

</body>

</html>
