{% extends 'index.html' %}
    {% block register %}
          <section id="signup" class="signup-section signup-custom">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">

                  <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                  <h2 class="text-white mb-5">Register</h2>
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit">Register</button>
                    </form>
                </div>
              </div>
            </div>
          </section>
    {% endblock %}
